@import "colors/current.scss";
@import "modules/app-drawer/default.scss";
@import "modules/bar/default.scss";
@import "modules/battery/default.scss";
@import "modules/brightness/default.scss";
@import "modules/circle-bar/default.scss";
@import "modules/cpu/default.scss";
@import "modules/horizontal-slider/default.scss";
@import "modules/memory/default.scss";
@import "modules/mode-toggle/default.scss";
@import "modules/music/default.scss";
@import "modules/notifications/default.scss";
@import "modules/quick-settings-panel/default.scss";
@import "modules/section/default.scss";
@import "modules/system/default.scss";
@import "modules/temp/default.scss";
@import "modules/time/default.scss";
@import "modules/tray/default.scss";
@import "modules/volume/default.scss";
@import "modules/wifi-panel/default.scss";
@import "modules/wifi/default.scss";
@import "modules/window-title/default.scss";
@import "modules/workspaces/default.scss";

* {
  all: unset;
  font-family: "Fira Code Nerd Font Mono";
}

/** tooltip!! **/
tooltip.background {
  background-color: $base;
  font-size: 18px;
  border-radius: 10px;
  color: $subtext1;
}

tooltip label {
  margin: 6px;
}

scale trough {
  all: unset;
  // background-color: #22242b;
  background-color: $surface1;
  // box-shadow: 0 2px 3px 2px #06060b;
  box-shadow: 0 2px 3px 2px $crust;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}
