$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

$light_rosewater: #dc8a78;
$light_flamingo: #dd7878;
$light_pink: #ea76cb;
$light_mauve: #8839ef;
$light_red: #d20f39;
$light_maroon: #e64553;
$light_peach: #fe640b;
$light_yellow: #df8e1d;
$light_green: #40a02b;
$light_teal: #179299;
$light_sky: #04a5e5;
$light_sapphire: #209fb5;
$light_blue: #1e66f5;
$light_lavender: #7287fd;
$light_text: #4c4f69;
$light_subtext1: #5c5f77;
$light_subtext0: #6c6f85;
$light_overlay2: #7c7f93;
$light_overlay1: #8c8fa1;
$light_overlay0: #9ca0b0;
$light_surface2: #acb0be;
$light_surface1: #bcc0cc;
$light_surface0: #ccd0da;
$light_base: #eff1f5;
$light_mantle: #e6e9ef;
$light_crust: #dce0e8;

@import "modules/app-drawer/default.scss";
@import "modules/audio/default.scss";
@import "modules/bar/default.scss";
@import "modules/battery/default.scss";
@import "modules/brightness/default.scss";
@import "modules/memory/default.scss";
@import "modules/music/default.scss";
@import "modules/network/default.scss";
@import "modules/system/default.scss";
@import "modules/time/default.scss";
@import "modules/window-title/default.scss";
@import "modules/workspaces/default.scss";

* {
  all: unset;
  font-family: feather;
  font-family: DaddyTimeMono NF;
}

/** tooltip!! **/
tooltip.background {
  background-color: $base;
  // background-color: #0f0f17;
  font-size: 18px;
  border-radius: 10px;
  // color: #bfc9db;
  color: $subtext1;
}

.light tooltip.background {
  color: $light_subtext1;
}

tooltip label {
  margin: 6px;
}

scale trough {
  all: unset;
  // background-color: #22242b;
  background-color: $surface1;
  // box-shadow: 0 2px 3px 2px #06060b;
  box-shadow: 0 2px 3px 2px $crust;
  border-radius: 16px;
  min-height: 10px;
  min-width: 70px;
  margin: 0px 10px 0px 0px;
}

.light scale trough {
  background-color: $light_surface1;
}
