layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:~/zellij-plugins/zjstatus.wasm" {
        format_left   "{mode}"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime}"
        format_space  ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        mode_normal  " #[bg=blue]{name} "
        mode_locked  " #[bg=#b7bdf8]{name} "
        mode_tmux    " #[bg=#ffc387]{name} "

        tab_normal   "#[fg=#6C7086] {name} "
        tab_active   "#[fg=#24273a,bg=#939ab7,bold] {name} "

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=#a6da95] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=#6C7086,bold] {format} "
        datetime_format "%R"
        datetime_timezone "Europe/Oslo"
      }
    }
  }
}
