layout {
  // default_tab_template {
  //   // the default zellij tab-bar and status bar plugins
  //   pane size=1 borderless=true {
  //       plugin location="zellij:tab-bar"
  //   }
  //   children
  //   pane size=2 borderless=true {
  //       plugin location="zellij:status-bar"
  //   }
  // }

  tab_template name="split-tab" {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane size="70%"
    pane
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  split-tab name="terrahoff" cwd="~/projects/strise/terrahoff" focus=true
  split-tab name="auth0" cwd="~/projects/strise/auth0"
  split-tab name="mito" cwd="~/projects/strise/mito"  
  split-tab name="prefect" cwd="~/projects/strise/prefect"
}
