.time {
  border-radius: 10px 16px 0px 10px;

  &__clock {
    color: $subtext1;
    font-size: 22px;
    font-weight: bold;
  }

  &__date {
    font-size: 18px;
    margin: 0px 10px 0px 5px;
    color: $rosewater;
  }
}

.cal {
  background-color: $base;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

  &__inner {
    padding: 0px 10px 0px 10px;
    color: $lavender;
  }
  &__calendar {
    color: $lavender;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;

    &:selected {
      color: $sapphire;
    }

    &.header {
      color: $sapphire;
      font-weight: bold;
    }

    &.button {
      color: $yellow;
    }

    &.highlight {
      color: $sapphire;
      font-weight: bold;
      padding: 20px;
    }

    &:indeterminate {
      color: $lavender;
    }
  }
}
