.bar {
  background-color: $crust;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 4px 8px;
}

.separator {
  color: $surface1;
  font-weight: bold;
  font-size: 22px;
}
