.battery {
  border-radius: 16px;

  &__progress {
    color: $green;
    // color: #afbea2;
    // background-color: #38384d;
    background-color: $surface0;
    border-radius: 10px;

    .light & {
      color: $light_green;
      background-color: $light_surface0;
    }
  }

  &__icon {
    // color: #afbea2;
    color: $green;
    font-size: 15px;
    margin: 10px;

    .light & {
      color: $light_green;
    }
  }
}
