.network {
  &__icon {
    font-size: 22px;
    // color: #a1bdce;
    color: $lavender;
    border-radius: 100%;
    margin: 0px 10px 0px 5px;

    .light & {
      color: $light_lavender;
    }
  }

  &__ssid {
    font-size: 18px;
    // color: #a1bdce;
    color: $lavender;
    margin: 0px 10px 0px 0px;

    .light & {
      color: $light_lavender;
    }
  }
}
