// copy_command "xclip -in -sel clip"
copy_on_select true
theme "catppuccin-macchiato"
keybinds {
  unbind "Ctrl q"

  shared_except "locked" {
    bind "Ctrl y" {
      LaunchOrFocusPlugin "file:~/zellij-plugins/zellij_forgot.wasm" {
        floating true
      }
    }
  }
}
ui {
  pane_frames {
    rounded_corners false
  }
}
