.music {
  &__cover-art {
    background-size: cover;
    background-position: center;
    min-height: 24px;
    min-width: 24px;
    margin: 0 10px;
    border-radius: 100px;
  }

  &__song {
    color: $sapphire;
  }

  &__play {
    color: $lavender;
    font-size: 24px;
  }

  &__prev,
  &__next {
    color: $lavender;
    font-size: 24px;
  }
}

.music-pop {
  background-color: #0f0f17;
  border-radius: 16px;

  &__cover-art {
    background-size: cover;
    background-position: center;
    min-height: 100px;
    box-shadow: 5px 5px 5px 5px #06060b;
    min-width: 170px;
    margin: 20px;
    border-radius: 20px;
  }

  &__song {
    color: #a1bdce;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 0px -15px;
  }

  &__artist {
    color: #bbc5d7;
    font-size: 16px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
  }

  &__prev,
  &__play,
  &__next {
    font-family: Iosevka Nerd Font;
  }

  &__prev,
  &__next {
    color: #bbc5d7;
    font-size: 32px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
  }

  &__play {
    color: #a1bdce;
    font-size: 48px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
  }

  &__bar scale trough highlight {
    all: unset;
    background-image: linear-gradient(
      to right,
      #afcee0 30%,
      #a1bdce 50%,
      #77a5bf 100% * 50
    );
    border-radius: 24px;
  }

  &__bar scale trough {
    all: unset;
    background-color: #232232;
    box-shadow: 0 6px 5px 2px #06060b;
    border-radius: 24px;
    min-height: 13px;
    min-width: 190px;
    margin: -10px 10px 20px 0px;
  }
}
