.brightness {
  &__icon {
    font-size: 24px;
    color: $yellow;
  }

  &__scale {
    trough {
      highlight {
        background-image: linear-gradient(
          to right,
          $yellow 30%,
          $peach 50%,
          $maroon 100%
        );
      }
    }
  }
}

.brightness-indicator {
  &__icon {
    color: $yellow;
  }

  &__progress {
    color: $yellow;
    background-color: $surface0;
  }
}
