/* Hide tab bar */

#TabsToolbar {
  justify-content: flex-end;
}

#TabsToolbar .toolbar-items {
  display: none;
}

#TabsToolbar .titlebar-spacer {
  display: none;
}

#TabsToolbar .titlebar-buttonbox-container {
  min-height: 40px;
}

#titlebar {
  position: absolute;
  right: 0;
}

#nav-bar {
  padding-top: 1px !important;
  margin-right: 117px !important;
}
