.quick-settings-panel {
  $border-radius: 8px;
  background-color: $crust;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 20px 20px;

  * {
    transition: all 0.2s;
  }

  .settings {
    .slider {
      trough {
        margin: 0px;
        border-radius: $border-radius $border-radius 0 0;
        min-height: 70px;
        min-width: 35px;

        highlight {
          border-radius: $border-radius $border-radius 0 0;
        }
      }
    }

    .icon {
      border-radius: 0 0 $border-radius $border-radius;
      font-size: 35px;
      padding: 5px;
    }

    .volume-settings {
      .icon {
        background-color: $sky;
        color: $surface1;
      }
      .slider {
        trough {
          background-color: $surface1;

          highlight {
            background-image: linear-gradient(
              to bottom,
              $blue 30%,
              $sapphire 50%,
              $sky 100%
            );
          }
        }
      }
      &.muted {
        opacity: 0.6;
      }
    }

    .brightness-settings {
      .icon {
        background-color: $maroon;
        color: $surface1;
      }

      .slider {
        trough {
          background-color: $surface1;

          highlight {
            background-image: linear-gradient(
              to top,
              $maroon 30%,
              $flamingo 50%,
              $rosewater 100%
            );
          }
        }
      }
    }

    .network-settings {
      .icon {
        background-color: $mauve;
        color: $surface1;
      }

      .slider {
        trough {
          background-color: $surface1;

          highlight {
            background-image: linear-gradient(to top, $mauve 0%, $pink 100%);
          }
        }
      }
    }
  }
}
