.time {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;

  &__clock {
    // color: #bfc9db;
    color: $subtext1;
    font-size: 23px;
    font-weight: bold;
  }

  &__date {
    font-size: 18px;
    margin: 0px 10px 0px 5px;
    // color: #d7beda;
    color: $rosewater;
  }
}

.light-mode {
  .time {
    &__clock {
      color: $light_subtext1;
    }
    &__date {
      color: $light_rosewater;
    }
  }
}

.cal {
  background-color: $base;
  // background-color: #0f0f17;
  font-family: JetBrainsMono Nerd Font;
  font-size: 18px;
  font-weight: normal;

  &__inner {
    padding: 0px 10px 0px 10px;
    // color: #bfc9db;
    color: $lavender;
  }
  &__calendar {
    color: $lavender;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;

    &:selected {
      // color: #a1bdce;
      color: $sapphire;
    }

    &.header {
      // color: #a1bdce;
      color: $sapphire;
      font-weight: bold;
    }

    &.button {
      // color: #afbea2;
      color: $yellow;
    }

    &.highlight {
      // color: #a1bdce;
      color: $sapphire;
      font-weight: bold;
      padding: 20px;
    }

    &:indeterminate {
      // color: #bfc9db;
      color: $lavender;
    }
  }
}
.light-mode
