// copy_command "xclip -in -sel clip"
copy_on_select true
theme "catppuccin-macchiato"
keybinds {
  unbind "Ctrl q"
  unbind "Ctrl o"

  move {
    bind "Ctrl e" { SwitchToMode "Normal"; }
  }
  shared_except "move" "locked" {
    bind "Ctrl e" { SwitchToMode "Move"; }
  }

  session {
    bind "Ctrl x" { SwitchToMode "Normal"; }
  }
  shared_except "session" "locked" {
    bind "Ctrl x" { SwitchToMode "Session"; }
  }

  shared_except "locked" {
    bind "Ctrl h" { MoveFocusOrTab "Left"; }
    bind "Ctrl l" { MoveFocusOrTab "Right"; }
    bind "Ctrl j" { MoveFocus "Down"; }
    bind "Ctrl k" { MoveFocus "Up"; }

    bind "Ctrl y" {
      LaunchOrFocusPlugin "file:~/zellij-plugins/zellij_forgot.wasm" {
        floating true
      }
    }
  }
}
ui {
  pane_frames {
    rounded_corners false
  }
}
